// -----------------------------------------------------------------------------
// This file contains typography of your project,
// -----------------------------------------------------------------------------


/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}