//Main Files


// Abstracs
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

// Vendors
@import 'vendors/normalize';

// Base
@import 'base/reset';
@import 'base/base';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';

// Layouts
@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

// Components
@import 'components/buttons';
@import 'components/cards';
@import 'components/hero';
@import 'components/dropdown';
@import 'components/banner';

// Pages
@import 'pages/home';

// Theme
@import 'themes/theme';
@import 'themes/admin';

// Bootstrap
@import 'bootstrap';